n8n/gallery-form-workflow.json
{
  "name": "Site Gallery — Add / Remove",
  "nodes": [
    {
      "name": "Submit Gallery",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [0, 360],
      "parameters": {
        "formTitle": "Electrifying the US — Gallery",
        "formDescription": "Add a photo or video to the gallery, or remove one. To ADD a PHOTO: Action=Add, Kind=Photo, then upload an image (or paste an Image URL). To ADD a VIDEO: Action=Add, Kind=Video, pick the provider and paste the YouTube/Vimeo link (or a direct video file URL); a Poster URL is recommended for Vimeo/file. To REMOVE: Action=Delete and put the item's Title in the Title field. Remove hides it (archived, recoverable).",
        "formFields": {
          "values": [
            { "fieldLabel": "Action", "fieldType": "dropdown", "requiredField": true, "fieldOptions": { "values": [{ "option": "Add" }, { "option": "Delete" }] } },
            { "fieldLabel": "Kind", "fieldType": "dropdown", "requiredField": true, "fieldOptions": { "values": [{ "option": "Photo" }, { "option": "Video" }] } },
            { "fieldLabel": "Title", "fieldType": "text", "placeholder": "Caption / title (also used to remove)" },
            { "fieldLabel": "Album", "fieldType": "text", "placeholder": "Optional group, e.g. Ride & Drive 2026" },
            { "fieldLabel": "Image upload", "fieldType": "file", "acceptFileTypes": ".jpg,.jpeg,.png,.webp,.gif", "multipleFiles": false },
            { "fieldLabel": "Image URL", "fieldType": "text", "placeholder": "Photo only — paste a URL instead of uploading" },
            { "fieldLabel": "Video provider", "fieldType": "dropdown", "fieldOptions": { "values": [{ "option": "YouTube" }, { "option": "Vimeo" }, { "option": "File URL" }] } },
            { "fieldLabel": "Video ID or URL", "fieldType": "text", "placeholder": "Video only — YouTube/Vimeo link or ID, or a direct .mp4 URL" },
            { "fieldLabel": "Poster URL", "fieldType": "text", "placeholder": "Video only — thumbnail image URL (recommended for Vimeo/file)" }
          ]
        },
        "responseMode": "onReceived",
        "options": {
          "path": "etu-gallery",
          "buttonLabel": "Save",
          "respondWithOptions": { "values": { "respondWith": "text", "formSubmittedText": "Saved. The gallery will reflect this within a few minutes." } }
        }
      }
    },
    {
      "name": "Add Photo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [240, 120],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [{ "leftValue": "={{ $json['Action'] === 'Add' && $json['Kind'] === 'Photo' }}", "rightValue": "", "operator": { "type": "boolean", "operation": "true", "singleValue": true } }]
        }
      }
    },
    {
      "name": "Has image file?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [460, 40],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [{ "leftValue": "={{ $json['Image upload'] != null }}", "rightValue": "", "operator": { "type": "boolean", "operation": "true", "singleValue": true } }]
        }
      }
    },
    {
      "name": "Build Filename",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, -40],
      "parameters": {
        "mode": "manual",
        "includeOtherFields": true,
        "assignments": {
          "assignments": [
            { "id": "objpath", "name": "objectPath", "type": "string", "value": "={{ (($('Submit Gallery').item.json['Title'] || 'photo').toString().toLowerCase().trim().replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '') || 'photo') + '-' + $now.toMillis() + '.' + ($binary['Image_upload'].fileExtension || 'jpg') }}" }
          ]
        }
      }
    },
    {
      "name": "Upload Gallery Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, -40],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://wmwjjejrgequyersrjnh.supabase.co/storage/v1/object/site-media/' + $json.objectPath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Content-Type", "value": "={{ $binary['Image_upload'].mimeType }}" },
          { "name": "x-upsert", "value": "true" }
        ] },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "Image_upload",
        "options": {}
      },
      "credentials": { "httpHeaderAuth": { "name": "Supabase Storage (header)" } }
    },
    {
      "name": "Insert Photo (uploaded)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1120, -40],
      "parameters": {
        "resource": "row",
        "operation": "create",
        "tableId": "site_gallery",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "status", "fieldValue": "published" },
            { "fieldId": "kind", "fieldValue": "photo" },
            { "fieldId": "title", "fieldValue": "={{ $('Submit Gallery').item.json['Title'] || '' }}" },
            { "fieldId": "album", "fieldValue": "={{ $('Submit Gallery').item.json['Album'] || '' }}" },
            { "fieldId": "url", "fieldValue": "={{ 'https://wmwjjejrgequyersrjnh.supabase.co/storage/v1/object/public/site-media/' + $('Build Filename').item.json.objectPath }}" }
          ]
        }
      },
      "credentials": { "supabaseApi": { "name": "Supabase" } }
    },
    {
      "name": "Insert Photo (url)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [680, 160],
      "parameters": {
        "resource": "row",
        "operation": "create",
        "tableId": "site_gallery",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "status", "fieldValue": "published" },
            { "fieldId": "kind", "fieldValue": "photo" },
            { "fieldId": "title", "fieldValue": "={{ $('Submit Gallery').item.json['Title'] || '' }}" },
            { "fieldId": "album", "fieldValue": "={{ $('Submit Gallery').item.json['Album'] || '' }}" },
            { "fieldId": "url", "fieldValue": "={{ $('Submit Gallery').item.json['Image URL'] }}" }
          ]
        }
      },
      "credentials": { "supabaseApi": { "name": "Supabase" } }
    },
    {
      "name": "Add Video?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [240, 360],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [{ "leftValue": "={{ $json['Action'] === 'Add' && $json['Kind'] === 'Video' }}", "rightValue": "", "operator": { "type": "boolean", "operation": "true", "singleValue": true } }]
        }
      }
    },
    {
      "name": "Prep Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 360],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const f = $('Submit Gallery').first().json;\nlet v = (f['Video ID or URL'] || '').toString().trim();\nconst p = f['Video provider'];\nlet provider = 'youtube';\nif (p === 'Vimeo') provider = 'vimeo';\nelse if (p === 'File URL') provider = 'file';\nif (provider === 'youtube') {\n  if (v.includes('v=')) v = v.split('v=')[1].split('&')[0].split('?')[0];\n  else v = v.split('?')[0].split('/').filter(Boolean).pop() || v;\n} else if (provider === 'vimeo') {\n  v = v.split('?')[0].split('/').filter(Boolean).pop() || v;\n}\nreturn [{ json: { url: v, provider, title: f['Title'] || '', album: f['Album'] || '', poster: f['Poster URL'] || '' } }];"
      }
    },
    {
      "name": "Insert Video",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [680, 360],
      "parameters": {
        "resource": "row",
        "operation": "create",
        "tableId": "site_gallery",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "status", "fieldValue": "published" },
            { "fieldId": "kind", "fieldValue": "video" },
            { "fieldId": "title", "fieldValue": "={{ $json.title }}" },
            { "fieldId": "album", "fieldValue": "={{ $json.album }}" },
            { "fieldId": "url", "fieldValue": "={{ $json.url }}" },
            { "fieldId": "provider", "fieldValue": "={{ $json.provider }}" },
            { "fieldId": "poster", "fieldValue": "={{ $json.poster }}" }
          ]
        }
      },
      "credentials": { "supabaseApi": { "name": "Supabase" } }
    },
    {
      "name": "Remove?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [240, 560],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [{ "leftValue": "={{ $json['Action'] === 'Delete' }}", "rightValue": "", "operator": { "type": "boolean", "operation": "true", "singleValue": true } }]
        }
      }
    },
    {
      "name": "Archive Gallery Row",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [460, 560],
      "parameters": {
        "resource": "row",
        "operation": "update",
        "tableId": "site_gallery",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": { "conditions": [{ "keyName": "title", "condition": "eq", "keyValue": "={{ $json['Title'] }}" }] },
        "dataToSend": "defineBelow",
        "fieldsUi": { "fieldValues": [{ "fieldId": "status", "fieldValue": "archived" }] }
      },
      "credentials": { "supabaseApi": { "name": "Supabase" } }
    }
  ],
  "connections": {
    "Submit Gallery": {
      "main": [[
        { "node": "Add Photo?", "type": "main", "index": 0 },
        { "node": "Add Video?", "type": "main", "index": 0 },
        { "node": "Remove?", "type": "main", "index": 0 }
      ]]
    },
    "Add Photo?": { "main": [[{ "node": "Has image file?", "type": "main", "index": 0 }]] },
    "Has image file?": {
      "main": [
        [{ "node": "Build Filename", "type": "main", "index": 0 }],
        [{ "node": "Insert Photo (url)", "type": "main", "index": 0 }]
      ]
    },
    "Build Filename": { "main": [[{ "node": "Upload Gallery Image", "type": "main", "index": 0 }]] },
    "Upload Gallery Image": { "main": [[{ "node": "Insert Photo (uploaded)", "type": "main", "index": 0 }]] },
    "Add Video?": { "main": [[{ "node": "Prep Video", "type": "main", "index": 0 }]] },
    "Prep Video": { "main": [[{ "node": "Insert Video", "type": "main", "index": 0 }]] },
    "Remove?": { "main": [[{ "node": "Archive Gallery Row", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
