n8n/job-form-workflow.json
{
  "name": "Site Jobs — Add / Remove",
  "nodes": [
    {
      "name": "Submit Job",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [0, 320],
      "parameters": {
        "formTitle": "Electrifying the US — Post a Job",
        "formDescription": "Post a job to the Careers page, or remove one. To ADD: choose Add and fill the role details (Title is required; upload a card image or paste an Image URL; set an Apply URL or email so candidates can apply). To REMOVE: choose Delete and put the job's Title in the Title field. Remove hides it from the site and is recoverable (archived).",
        "formFields": {
          "values": [
            { "fieldLabel": "Action", "fieldType": "dropdown", "requiredField": true, "fieldOptions": { "values": [{ "option": "Add" }, { "option": "Delete" }] } },
            { "fieldLabel": "Title", "fieldType": "text", "requiredField": true, "placeholder": "EV Charging Network Engineer" },
            { "fieldLabel": "Company", "fieldType": "text", "placeholder": "Electrifying the US" },
            { "fieldLabel": "Department", "fieldType": "text", "placeholder": "Infrastructure, Outreach, Education…" },
            { "fieldLabel": "Location", "fieldType": "text", "placeholder": "Remote · U.S.  /  Detroit, MI" },
            { "fieldLabel": "Type", "fieldType": "dropdown", "fieldOptions": { "values": [{ "option": "Full-time" }, { "option": "Part-time" }, { "option": "Contract" }, { "option": "Internship" }, { "option": "Volunteer" }] } },
            { "fieldLabel": "Short description", "fieldType": "textarea", "placeholder": "1–2 sentence preview shown on the card." },
            { "fieldLabel": "Full description", "fieldType": "textarea", "placeholder": "Full role description shown when the card is expanded." },
            { "fieldLabel": "Apply URL", "fieldType": "text", "placeholder": "https://… where Apply sends candidates" },
            { "fieldLabel": "Apply email", "fieldType": "text", "placeholder": "careers@example.com (optional)" },
            { "fieldLabel": "Image upload", "fieldType": "file", "acceptFileTypes": ".jpg,.jpeg,.png,.webp,.gif", "multipleFiles": false },
            { "fieldLabel": "Image URL", "fieldType": "text", "placeholder": "Optional — paste a card image URL instead of uploading" },
            { "fieldLabel": "Featured", "fieldType": "dropdown", "fieldOptions": { "values": [{ "option": "No" }, { "option": "Yes" }] } }
          ]
        },
        "responseMode": "onReceived",
        "options": {
          "path": "etu-job",
          "buttonLabel": "Post",
          "respondWithOptions": { "values": { "respondWith": "text", "formSubmittedText": "Saved. The Careers page will reflect this within a few minutes." } }
        }
      }
    },
    {
      "name": "Add a Job?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [240, 160],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [{ "leftValue": "={{ $json['Action'] === 'Add' }}", "rightValue": "", "operator": { "type": "boolean", "operation": "true", "singleValue": true } }]
        }
      }
    },
    {
      "name": "Has image file?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [460, 80],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [{ "leftValue": "={{ $json['Image upload'] != null }}", "rightValue": "", "operator": { "type": "boolean", "operation": "true", "singleValue": true } }]
        }
      }
    },
    {
      "name": "Build Filename",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 0],
      "parameters": {
        "mode": "manual",
        "includeOtherFields": true,
        "assignments": {
          "assignments": [
            { "id": "objpath", "name": "objectPath", "type": "string", "value": "={{ (($('Submit Job').item.json['Title'] || 'job').toString().toLowerCase().trim().replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '') || 'job') + '-' + $now.toMillis() + '.' + ($binary['Image_upload'].fileExtension || 'jpg') }}" }
          ]
        }
      }
    },
    {
      "name": "Upload Job Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 0],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://wmwjjejrgequyersrjnh.supabase.co/storage/v1/object/site-media/' + $json.objectPath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Content-Type", "value": "={{ $binary['Image_upload'].mimeType }}" },
          { "name": "x-upsert", "value": "true" }
        ] },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "Image_upload",
        "options": {}
      },
      "credentials": { "httpHeaderAuth": { "name": "Supabase Storage (header)" } }
    },
    {
      "name": "Insert Job (uploaded)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1120, 0],
      "parameters": {
        "resource": "row",
        "operation": "create",
        "tableId": "site_jobs",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "status", "fieldValue": "published" },
            { "fieldId": "title", "fieldValue": "={{ $('Submit Job').item.json['Title'] }}" },
            { "fieldId": "company", "fieldValue": "={{ $('Submit Job').item.json['Company'] || 'Electrifying the US' }}" },
            { "fieldId": "department", "fieldValue": "={{ $('Submit Job').item.json['Department'] || 'EV Industry' }}" },
            { "fieldId": "location", "fieldValue": "={{ $('Submit Job').item.json['Location'] || '' }}" },
            { "fieldId": "type", "fieldValue": "={{ $('Submit Job').item.json['Type'] || 'Full-time' }}" },
            { "fieldId": "description", "fieldValue": "={{ $('Submit Job').item.json['Short description'] || '' }}" },
            { "fieldId": "description_full", "fieldValue": "={{ $('Submit Job').item.json['Full description'] || $('Submit Job').item.json['Short description'] || '' }}" },
            { "fieldId": "image", "fieldValue": "={{ 'https://wmwjjejrgequyersrjnh.supabase.co/storage/v1/object/public/site-media/' + $('Build Filename').item.json.objectPath }}" },
            { "fieldId": "apply_url", "fieldValue": "={{ $('Submit Job').item.json['Apply URL'] }}" },
            { "fieldId": "apply_email", "fieldValue": "={{ $('Submit Job').item.json['Apply email'] }}" },
            { "fieldId": "featured", "fieldValue": "={{ $('Submit Job').item.json['Featured'] === 'Yes' }}" }
          ]
        }
      },
      "credentials": { "supabaseApi": { "name": "Supabase" } }
    },
    {
      "name": "Insert Job (url)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [680, 220],
      "parameters": {
        "resource": "row",
        "operation": "create",
        "tableId": "site_jobs",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "status", "fieldValue": "published" },
            { "fieldId": "title", "fieldValue": "={{ $('Submit Job').item.json['Title'] }}" },
            { "fieldId": "company", "fieldValue": "={{ $('Submit Job').item.json['Company'] || 'Electrifying the US' }}" },
            { "fieldId": "department", "fieldValue": "={{ $('Submit Job').item.json['Department'] || 'EV Industry' }}" },
            { "fieldId": "location", "fieldValue": "={{ $('Submit Job').item.json['Location'] || '' }}" },
            { "fieldId": "type", "fieldValue": "={{ $('Submit Job').item.json['Type'] || 'Full-time' }}" },
            { "fieldId": "description", "fieldValue": "={{ $('Submit Job').item.json['Short description'] || '' }}" },
            { "fieldId": "description_full", "fieldValue": "={{ $('Submit Job').item.json['Full description'] || $('Submit Job').item.json['Short description'] || '' }}" },
            { "fieldId": "image", "fieldValue": "={{ $('Submit Job').item.json['Image URL'] }}" },
            { "fieldId": "apply_url", "fieldValue": "={{ $('Submit Job').item.json['Apply URL'] }}" },
            { "fieldId": "apply_email", "fieldValue": "={{ $('Submit Job').item.json['Apply email'] }}" },
            { "fieldId": "featured", "fieldValue": "={{ $('Submit Job').item.json['Featured'] === 'Yes' }}" }
          ]
        }
      },
      "credentials": { "supabaseApi": { "name": "Supabase" } }
    },
    {
      "name": "Remove a Job?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [240, 460],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [{ "leftValue": "={{ $json['Action'] === 'Delete' }}", "rightValue": "", "operator": { "type": "boolean", "operation": "true", "singleValue": true } }]
        }
      }
    },
    {
      "name": "Archive Job Row",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [460, 460],
      "parameters": {
        "resource": "row",
        "operation": "update",
        "tableId": "site_jobs",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": { "conditions": [{ "keyName": "title", "condition": "eq", "keyValue": "={{ $json['Title'] }}" }] },
        "dataToSend": "defineBelow",
        "fieldsUi": { "fieldValues": [{ "fieldId": "status", "fieldValue": "archived" }] }
      },
      "credentials": { "supabaseApi": { "name": "Supabase" } }
    }
  ],
  "connections": {
    "Submit Job": {
      "main": [[
        { "node": "Add a Job?", "type": "main", "index": 0 },
        { "node": "Remove a Job?", "type": "main", "index": 0 }
      ]]
    },
    "Add a Job?": { "main": [[{ "node": "Has image file?", "type": "main", "index": 0 }]] },
    "Has image file?": {
      "main": [
        [{ "node": "Build Filename", "type": "main", "index": 0 }],
        [{ "node": "Insert Job (url)", "type": "main", "index": 0 }]
      ]
    },
    "Build Filename": { "main": [[{ "node": "Upload Job Image", "type": "main", "index": 0 }]] },
    "Upload Job Image": { "main": [[{ "node": "Insert Job (uploaded)", "type": "main", "index": 0 }]] },
    "Remove a Job?": { "main": [[{ "node": "Archive Job Row", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
